<div class="">
  <h1 class="text-dark">
    Genres
    <a href="genres/add" class="btn btn-success ms-auto">Add Genres</a>
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% for( let i = 0; i < genre.length; i++ ) { %>
      <tr>
        <td><%= genre[i].name %></td>
        <td>
          <a class="btn btn-light" href="/genres/edit/<%= genre[i]._id %> "
            ><i class="fa-solid fa-pen-to-square text-primary"></i></a
          >
        </td>
        <td>
          <a class="btn btn-light" href="/genres/delete/<%= genre[i]._id %>"
            ><i class="fa-solid fa-trash text-danger"></i></a
          >
        </td>
      </tr>

      <% } %>
    </tbody>
  </table>
</div>