<div class="footer">
   <div class='footerItem footerLogo'>
    <img src='/images/brand.png' alt='brand'>
    <h3>BeezManager</h3>
   </div>
   <div class='footerItem'>Home</div>
   <div class='footerItem'>About</div>
   <div class='footerItem'>
    <h5>Follow BeezManager on</h5>
    <div class="footerIcons">
      <i class="fa-brands fa-facebook icon"></i>
      <i class="fa-brands fa-twitter icon"></i>
      <i class="fa-brands fa-instagram icon"></i>
     </div>
   </div>
   <hr />
   <p class="footerItem">BeezManager &copy; 2021, All Right Reserved</p>
  </div>