<!-- <head>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="/dist/jquery.min.js" />
  <link rel="stylesheet" href="/js/bootstrap.min.js" />
</head> -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Albumz</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item <%= title == 'Home' ? 'active' : '' %>">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item <%= title == 'Contact' ? 'active' : '' %>">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/user/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
