* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #C1B5B5;
}

.list-group-item-dark {
  background-color: rgb(85, 76, 76) !important;
}
.list-group-item-dark a {
  text-decoration: none;
  color: white;
}

h4 ul{
	list-style-type: none;
	}
h4 ul li{
	color: green;
}
/* .btn-secondary {
  background-color: rgb(129, 126, 126) !important;
} */

/* .container {
} */

.register {
  min-height: 100vh;
}

/* main section */
main {
  min-height: 80vh;
}

.active {
  background-color: #666;
  color: rgb(219, 67, 67) !important;
}

/* footer section */
footer{
	margin: 0;
	padding: 0;
	margin-top: 20px;
}
.footer{
 background-color: black;
 color: white;
 display: flex;
 flex-direction: column;
 width: 100%;
}
.footerItem{
	margin-left: 20px;
	margin-bottom: 20px;
}
hr {
	width: 100%;
	border: 2px solid white;
}
.footerLogo {
	display: flex;
	margin-top: 20px;
	align-items: center;
}
.footer img{
	margin-right: 20px;
	height: 40px;
	width: 40px;
}
.icon{
	margin-right: 20px;
}
h5{
	margin-bottom: 20px;
}
.footer p {
	text-align: center;
	font-size
}
.footer a{
	text-decoration: none;
	color: inherit;
}