@import 'footer.css';

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #C1B5B5;
}

.list-group-item-dark {
  background-color: rgb(85, 76, 76) !important;
}
.list-group-item-dark a {
  text-decoration: none;
  color: white;
}

h4 ul{
	list-style-type: none;
	}
h4 ul li{
	color: green;
}
/* .btn-secondary {
  background-color: rgb(129, 126, 126) !important;
} */

/* .container {
} */

.register {
  min-height: 100vh;
}

/* main section */
main {
  min-height: 80vh;
}

.active {
  background-color: #666;
  color: rgb(219, 67, 67) !important;
}
.row{
	display: flex;
	flex-direction: column;
}
.album{
	border: 2px solid black;

}
.album img{
	wi
}

/* for medium screen */
@media only screen and (min-width: 768px) {
    .row{
    	flex-direction: row;
    }
    .album{
    	flex: 50%;
    }
  }
  
  /* for large screen */
@media only screen and (min-width: 1024px) {
    
    } 
